@import './_defines';

.itemlist-section {
  article {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0 -0.7rem;

      li {
        display: inline-flex;
        margin: 0 0.7rem;
      }
    }
  }
}
