@import './_defines';

.list-section {
  article {
    ul {
      list-style: none;

      .list-item {
        display: flex;

        strong {
          width: 100px;
          min-width: 100px;
          margin-right: $space-sm;
          text-align: right;
        }
      }
    }
  }
}
