@import './_defines';

.list-section {
  article {
    ul {
      list-style: none;

      &.inline {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        padding: 0;

        li div.list-item {
          strong {
            min-width: 0;
            width: auto;
          }
          span {
            text-wrap: nowrap;
          }
        }
      }

      .list-item {
        display: flex;

        strong {
          width: 100px;
          min-width: 100px;
          margin-right: $space-sm;
          text-align: right;
        }
      }
    }
  }
}
