@import './_defines';

* {
  color: $fg-color;
  font-family: 'Inter', -apple-system, 'San Francisco', 'Segoe UI', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: $grey-lighter underline;

  &:hover {
    color: $accent-color;
    text-decoration: $accent-color underline;
  }
}

u {
  text-decoration: underline;
}

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-size: 12pt;
}

main {
  display: flex;
  justify-content: center;
  min-width: 100%;
  width: fit-content;
  padding: 1cm 2cm;
}

article,
footer {
  font-size: small;
  line-height: 1.3;
  text-align: justify;
}

section {
  margin-bottom: 0.45cm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  page-break-after: avoid;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  color: $grey-mid;
  font-size: 10pt;
  font-weight: 500;
  font-variant: small-caps;
}

p,
ul {
  margin: 0;
  font-weight: 300;
  line-height: 1.3;

  strong {
    font-weight: 500;
  }
}

ul {
  padding-left: $space-lg;
  line-height: 1.5;
}

p:not(:last-child),
ul:not(:last-child) {
  margin: 0 0 $space-xs 0;
}

em {
  font-size: 10pt;
  font-style: italic;
}

.accented {
  color: $accent-color;
}

.obscured {
  color: $grey-light;
}

table {
  page-break-inside: avoid;
}

@media screen and (max-width: 600px) {
  html {
    main {
      flex-direction: column-reverse;
      padding: 0;

      .page {
        min-height: auto;
        width: 100%;
        padding: 1rem;
      }
    }
  }
}
