@import './_defines';

.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: $space-xs;

  h1 {
    text-transform: capitalize;

    span {
      color: $accent-color;
      font-weight: 500;
    }
  }

  hr {
    flex-grow: 1;
    margin-left: $space-sm;
    border: 0;
    border-bottom: 1px solid $grey-mid;
  }
}
